.container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: #f3f6f7;
  margin: 0;
  padding: 0;
  height: 4rem;
  padding: 10px 40px;
  display: flex;
  overflow: auto;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
}

li,
h2 {
  align-items: center;
  display: flex;
  color: #000000;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
li {
  padding: 0px 15px;
}
