@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Supermercado+One&display=swap");

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body {
  margin: 0;
  padding: 0;
  background-color: #e1e5e8;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.ant-btn-primary,
.ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
  background-color: cornflowerblue;
}
.ant-modal-close,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
  box-shadow: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
